#footer {
    margin-top: 5rem;
    border-top: 1px solid $color-black;
    background: $color-grey-light;
}

.footer {
    padding: 4rem 8rem;
    display: grid;
    grid-template-rows: 1fr 7rem;
    grid-template-columns: repeat(12, 1fr);

    &__content {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 1rem;
        border-bottom: 1px solid $color-text;
        @media only screen and (max-width:$bp-small-2) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
           } 

    }

    &__logo {
        
        &--img {
            margin-bottom: 1rem;
            @media only screen and (max-width:$bp-wide-3) {
               width: 18rem;
              } 
        }

        &--info {
           font-size: 1.6rem;
           @media only screen and (max-width:$bp-wide-3) {
            font-size: 1.3rem;
           } 
        }
    }
    &__links {
   
    text-transform: capitalize;
    font-family:  "Montserrat", sans-serif ;
    letter-spacing: .2rem;
    font-weight: 600;
    display: inline-block;
    transition: all .3s linear;
    font-size: 2.1rem;
    text-decoration: none;

    @media only screen and (max-width:$bp-wide-3) {
        font-size: 1.8rem;

      } 
      @media only screen and (max-width:$bp-wide-5) {
        display: none;
       } 

  

    &--link {
        text-decoration: none;
        margin-left: 3rem;
        color: $color-text;
   

        &:hover {
            text-decoration: none;
            color: $color-primary;
        }
    }
    }
    &__social {
       font-size: 2.5rem;

       @media only screen and (max-width:$bp-wide-3) {
        font-size: 2.3rem;
       } 
       &--link {
           text-decoration: none;
           color: $color-text;
           padding:0 1rem;
           &:hover {
               color: $color-primary;
         }
       }
    }


    &__copyright {
        grid-row: 2 / -1;
        grid-column: 1 / -1;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media only screen and (max-width:$bp-small-2) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
           } 

        &--text {
            font-size: 1.2rem;
            margin:0;

            @media only screen and (max-width:$bp-wide-2) {
                font-size: 1rem;
               } 
            @media only screen and (max-width:$bp-small-3) {
                padding-bottom: 1rem;
               } 
        }

        &--maps {
            font-size: 1.2rem;
            @media only screen and (max-width:$bp-wide-3) {
                font-size: 1rem;
               } 
            &-link {
                text-decoration: none;
                color: $color-dark-grey-2;
                padding: 0 .5rem;

                &:hover {
                    color: $color-black;
                }
            }
        }
    }
}