.home {
    min-height: calc(100vh - 10rem);
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(12, 1fr);
    padding-top: 15rem;



    &__content {
        grid-row: 1 / -1;
        grid-column:1 / 8;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding:1rem 3rem;
        margin-top: 2rem;
        @media only screen and (max-width:$bp-large) {
            grid-row: 1 / -1;
            grid-column: 1 / -1;
        }

        &--heading {
            font-size: 4.5rem;
            font-weight: 400;
            text-align: center;
            text-transform: capitalize;
            color:$color-text;
            margin-bottom: 5rem;
         
           
            @media only screen and (max-width:$bp-wide-1) {
        
                font-size: 4rem;
               
             }
            @media only screen and (max-width:$bp-wide-2) {
          
                font-size: 3.5rem;
             }

             @media only screen and (max-width:$bp-small) {
               font-size: 3.4rem;
            }
             @media only screen and (max-width:$bp-small-4) {
               font-size: 3rem;
              
            }

   
        }
     


        &--img {     

           width: 75rem;
           
           @media only screen and (max-width:$bp-wide-3) {
            width: 60rem;
         }
           @media only screen and (max-width:$bp-large) {
            width: 75rem;
         }
        }
        
        &--link {
           text-decoration: none;
           display: none;
           &:active,
           &:focus {
               outline: none;
           }
    
            &-icon {
                font-size: 3.5rem;
                margin-top: 10rem;
                color: $color-primary;
            }

            @media only screen and (max-width:$bp-large) {
                display: block;
             }
          
        }

    }

    &__form {
        grid-row: 1 / -1;
        grid-column: 8 / -1;
        justify-self: center;
        align-self: center;
        padding: 0 10rem;
        margin-bottom: -10rem;
 
        @media only screen and (max-width:$bp-huge) {
            padding: 0 7rem;
         }
        @media only screen and (max-width:$bp-wide-2) {
            padding: 0 4rem;
         }
         @media only screen and (max-width:$bp-large) {
            display: none;
        }
  


        &--title {
           text-align: center;
           padding: 1rem 0;
           margin-bottom: 6rem;

           @media only screen and (max-width:$bp-small) {
            margin-bottom: 3rem;
          
          }
        }
        &--h1 {
            font-size: 3rem;

            @media only screen and (max-width:$bp-wide-2) {
               font-size: 2.5rem;
             }
            @media only screen and (max-width:$bp-wide-5) {
               font-size: 2.3rem;
             }
    
       
        }
        &--span {
            color: $color-primary;
        }

        &--placeholder {
            font-size: 2rem !important;
            @media only screen and (max-width:$bp-small) {
                font-size: 1.9rem !important;
              }
        } 
        
    }
}

.forma {
    border: 1px solid $color-black;
    border-radius: 1rem;
    height: 58rem;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
    
    @media only screen and (max-width:$bp-small) {
        height: 50rem;
      }
}

.forma2 {
    border: none;
    overflow: hidden;
    box-shadow: none;
    
}