#message {
    padding-top: 5rem;
    margin-top: 10rem;
}

.message {
    height: 75rem;
    background:linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.4)), url("/assets/img/msg/message.jpg")center/cover fixed no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-width:$bp-small-4) {
       height: 60rem;
     }

   &__title {
     padding:3rem 2rem 0 2rem; 
    font-size: 3.3rem;
    font-weight: 400;
    text-align: center;
    text-transform: capitalize;
    color:$color-text;
   
  
     @media only screen and (max-width:$bp-wide-2) {
       font-size: 3rem;
       
    }
     @media only screen and (max-width:$bp-small) {
       font-size: 2.8rem;
      
    }
  
     @media only screen and (max-width:$bp-small-4) {
       
       font-size: 2.5rem;
      
    }

    &--span {
      color: $color-primary;
      font-weight: bold;
    }

 }

   &__text {
       color:$color-text;
       font-size: 2.5rem;
       padding: 8rem 25rem;
       text-align: center;

       @media only screen and (max-width:$bp-wide-3) {
        padding: 5rem 20rem;
        font-size: 2.2rem;
     }
       @media only screen and (max-width:$bp-large) {
        padding: 5rem 15rem;
     }
       @media only screen and (max-width:$bp-small) {
        padding: 5rem 10rem;
        font-size: 2rem;
     }
       @media only screen and (max-width:$bp-small-4) {
        padding: 4rem 5rem;
        font-size: 1.7rem;
     }
      
       &--link {
           align-self: center !important;
           margin: 0 auto;
           
       }
    
   }
}