.navbar {    

    border-bottom: 1px solid $color-text; 
    min-height: 12rem;
    background: $color-white;
    transition: all .3s linear;
    padding: 0;
  
   
    
    &__links {
     margin-left: 69%;
     font-size: 1.9rem;
     @media only screen and (max-width:$bp-huge) {
       margin-left: 66%;
    }
     @media only screen and (max-width:$bp-wide-2) {
       margin-left: 58%;
    }
     @media only screen and (max-width:$bp-wide-3) {
       margin-left: 50%;
    }
     @media only screen and (max-width:$bp-wide-4) {
       margin-left: 44%;
    }
     @media only screen and (max-width:$bp-wide-5) {
       margin-left: 36%;
    }


     @media only screen and (max-width:$bp-large) {
        margin: 0 auto;
        text-align: center;
        
    }
    
    }
      
    &--logo {  
       width: 15rem;
      margin: 2.5rem 0rem 2.5rem 4rem;
      cursor: pointer;

       @media only screen and (max-width:$bp-wide-4) {
        width: 19rem;
     }
     @media only screen and (max-width:$bp-small) {
       width:17rem;
       margin-left: 2rem;
     }
      
    
    }
  }
  .navbar-icon {
    font-size: 3rem;
    color: $color-black;
  }
  .navbar-toggler {
    outline: none !important;
    

  }
  .nav-link {
    color: $color-text;
    text-transform: capitalize;
    font-family:  "Montserrat", sans-serif !important;
    letter-spacing: .1rem;
    font-weight: 400;
    display: inline-block;
    transition: all .3s linear;
  
    margin-left: 1rem;
    padding: 1.3rem 1.2rem !important;

     @media only screen and (max-width:$bp-wide-5) {
       font-size:1.7rem;
     }
  

  }

  .nav-link--contact {
   border: 1px solid $color-primary;
   border-radius: 3rem;
   padding: 1.5rem 2rem !important;
   margin-left: 3rem;  
   background: $color-white;
   color: $color-primary;
   display: none !important;
   z-index: 100;


   &:active,
   &:focus {
       outline: none;
     
   }
 
   
   &:hover {
    color: $color-white !important;
    background:$color-primary;

   }
   @media only screen and (max-width:$bp-large) {
    display: none !important;
    
  }
   
 }
  .nav-link:hover {
    color: $color-primary;
  }
  .underline {
    width: 8rem;
    height: .3rem;
    background: $color-primary;
    margin: .5rem auto;
    transition: all .5s linear;
  }
  .nav-link:hover ~.underline {
      opacity: 1;
  }

  .navbar-collapse {
    padding:0 !important;
 }

  /* CUSTOM NAV TOGGLER */
  .bars {
    width: 3.5rem;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: .4s ease;



    &__second {
      background-color: $color-white;
    }
}

.change1 {
   transform: rotate(-45deg) translate(-9px, 6px);
   @media only screen and (max-width:$bp-small-3) {
    transform: rotate(-45deg) translate(-6px, 5px);
 }
}
.change3 {
   transform: rotate(45deg) translate(-8px, -8px);
   @media only screen and (max-width:$bp-small-3) {
    transform: rotate(45deg) translate(-10px, -10px);
 }
   
}
.change2 {
   opacity: 0;
} 

.scaleMe {
  min-height: 7rem;
}

.collapsedLinks {
  margin-left: 58%;
  @media only screen and (max-width:$bp-huge) {
    margin-left: 58%;
 }
  @media only screen and (max-width:$bp-wide-2) {
    margin-left: 52%;
 }
  @media only screen and (max-width:$bp-wide-4) {
    margin-left: 45%;
 }
  @media only screen and (max-width:$bp-wide-5) {
    margin-left: 37%;
 }
}

.scaleLinks {
  font-size: 1.5rem;

}
.scaleLogo {
  width: 12rem;
  margin: 1rem 0rem 1rem 4rem;
}

.showMe {
  display: block !important;
  padding: 1.1rem 1.5rem !important;
  @media only screen and (max-width:$bp-large) {
    display: none !important;
    
  }
}
.scaleModal {
  padding: .7rem 1.5rem !important;
  font-size: 1.3rem;
}


.mobileContact {
  border: 1px solid $color-primary;
  border-radius: 3rem;
  padding: 1rem 2.5rem ;
  background: $color-white;
  color: $color-primary;
  font-size: 1.6rem;
  display: none;
  margin-right: -50%;
  z-index: 100;

  &:active,
  &:focus {
      outline: none;
    
  }


  @media only screen and (max-width:$bp-large) {
    display: block;
    margin-right: -20%;
  }

  @media only screen and (max-width:$bp-small) {
    margin-right: -33%;
  }
  @media only screen and (max-width:$bp-small-2) {
    margin-right: -25%;
  }
  @media only screen and (max-width:$bp-small-3) {
    margin-right: -15%;
  }
  @media only screen and (max-width:$bp-small-4) {
    margin-right: -5%;
  }



   &:hover {
   color: $color-white;
   background:$color-primary;

  }

 
}

.modalCenter{
  top: 50% !important; 
  transform: translateY(-50%) !important;
}


.customModal {
  width: 60rem !important;

  @media only screen and (max-width:$bp-small) {
    width: 40rem !important;
  }
}

