.navbar {    

    border-bottom: 1px solid $color-text; 
    z-index: 20;
    background: $color-white;
    transition: all .3s linear;
    
    
    &__links {
     margin-left: 58%;

     @media only screen and (max-width:$bp-huge) {
       margin-left: 50%;
    }
     @media only screen and (max-width:$bp-wide-2) {
       margin-left: 42%;
    }
     @media only screen and (max-width:$bp-wide-3) {
       margin-left: 34%;
    }
     @media only screen and (max-width:$bp-wide-4) {
       margin-left: 28%;
    }
     @media only screen and (max-width:$bp-wide-5) {
       margin-left: 20%;
    }


     @media only screen and (max-width:$bp-large) {
        margin: 0;
        text-align: center;
        padding: 0 0 2rem 0;
    }
    
    }
      
    &--logo {  
       width: 15rem;
       padding: 1rem 0;
       margin-left: 4rem;

       @media only screen and (max-width:$bp-wide-4) {
        width: 19rem;
     }
     @media only screen and (max-width:$bp-small) {
       width:17rem;
     }
      
    
    }
  }
  .navbar-icon {
    font-size: 3rem;
    color: $color-black;
  }
  .navbar-toggler {
    outline: none !important;
    

  }
  .nav-link {
    color: $color-text;
    text-transform: capitalize;
    font-family:  "Montserrat", sans-serif !important;
    letter-spacing: .1rem;
    font-weight: 400;
    display: inline-block;
    transition: all .3s linear;
    font-size: 1.9rem;
    margin-left: 1rem;
    padding: 1.3rem 1.2rem !important;

     @media only screen and (max-width:$bp-wide-5) {
       font-size:1.7rem;
     }
  

  }

  .nav-link--contact {
   border: 1px solid $color-primary;
   border-radius: 3rem;
   padding: .5rem 2rem !important;
   margin-left: 3rem;
   margin-top: .8rem;
   background: $color-white;
   color: $color-primary;
   display: none !important;
   z-index: 100;

   &:active,
   &:focus {
       outline: none;
     
   }
 
   
   &:hover {
    color: $color-white !important;
    background:$color-primary;

   }
   @media only screen and (max-width:$bp-large) {
    display: none !important;
    
  }
   
 }
  .nav-link:hover {
    color: $color-primary;
  }
  .underline {
    width: 8rem;
    height: .3rem;
    background: $color-primary;
    margin: .5rem auto;
    transition: all .5s linear;
  }
  .nav-link:hover ~.underline {
      opacity: 1;
  }

  /* CUSTOM NAV TOGGLER */
  .bars {
    width: 3.5rem;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: .4s ease;



    &__second {
      background-color: $color-white;
    }
}

.change1 {
   transform: rotate(-45deg) translate(-9px, 6px);
   @media only screen and (max-width:$bp-small-3) {
    transform: rotate(-45deg) translate(-6px, 5px);
 }
}
.change3 {
   transform: rotate(45deg) translate(-8px, -8px);
   @media only screen and (max-width:$bp-small-3) {
    transform: rotate(45deg) translate(-10px, -10px);
 }
   
}
.change2 {
   opacity: 0;
} 

.scaleMe {
  transform: scale(1, .5) translateY(-50%);
 
}

.showMe {
  display: block !important;
  @media only screen and (max-width:$bp-large) {
    display: none !important;
    
  }
}


.mobileContact {
  border: 1px solid $color-primary;
  border-radius: 3rem;
  padding: 1rem 2.5rem ;
  background: $color-white;
  color: $color-primary;
  font-size: 1.6rem;
  display: none;
  margin-right: -50%;
  z-index: 100;

  &:active,
  &:focus {
      outline: none;
    
  }


  @media only screen and (max-width:$bp-large) {
    display: block;
    margin-right: 17rem;
  }
  @media only screen and (max-width:$bp-medium) {
    margin-right: 17rem;
  }
  @media only screen and (max-width:$bp-small) {
    margin-right: -38%;
  }
  @media only screen and (max-width:$bp-small-2) {
    margin-right: -30%;
  }
  @media only screen and (max-width:$bp-small-3) {
    margin-right: -25%;
  }
  @media only screen and (max-width:$bp-small-4) {
    margin-right: -17%;
  }



   &:hover {
   color: $color-white;
   background:$color-primary;

  }

 
}

.modalCenter{
  top: 50% !important; 
  transform: translateY(-50%) !important;
}


.customModal {
  width: 60rem !important;

  @media only screen and (max-width:$bp-small) {
    width: 40rem !important;
  }
}

