#shop{
    
    padding-top: 5rem;
}

.shop {
    display: grid;
    grid-template-rows: 10rem max-content;
    grid-template-columns: repeat(12, 1fr);
    @media only screen and (max-width:$bp-medium) {
        grid-template-rows: 10rem max-content;
     } 
    &__title {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        text-align: center;

        &--h1 {
            padding-top: 3rem;  
            font-size: 3.7rem;
            font-weight: 600;
            text-align: center;
            text-transform: capitalize;
            color:$color-text;
            @media only screen and (max-width:$bp-small) {
                font-size: 3.2rem;
             }
        }
    }

    &__cards {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-row: 2 / -1;
        grid-column: 1 / -1;
        margin-top: 5rem;
        padding:0 3rem;
        @media only screen and (max-width:$bp-small) {
            flex-direction: column;
         } 
    }
    &__card {
       margin: 4rem 2rem;
       padding: 2rem 2rem;
       min-height: 45rem;
       width: 40rem;
       background: $color-white;
       border-radius: 1rem;
       transition: all .4s ease-in-out;
       text-align: center;
       overflow: hidden;
       border: 1px solid $color-text;

       @media only screen and (max-width:$bp-small-4) {
        width: 35rem;
        min-height:42rem; 
     } 
      
       
       &:hover {
           cursor: pointer;
           background: $color-primary;
       }

   
       &:hover &--title {
           color: $color-white;
       }
       &:hover &--price {
           color: $color-white;
       }
       &:hover &--ul {
           color: $color-white;
       }
       &:hover &--h2 {
           color: $color-white;
       }
       &:hover &--btn {
           color: $color-text;
           background: $color-white;
       }

       &--title {
           text-align: center;
           color: $color-text;
                 
       }
       &--h2 {
           font-size: 2.5rem;
           font-weight: 700;
           color:$color-primary;
           text-transform: uppercase;
       
       }
 
       &--price {
           display: flex;
           padding: 3rem 0;
           align-items: center;
           justify-content: center;
           margin: 2rem 0;
           border-top: 1px solid $color-text;
           border-bottom: 1px solid $color-text;
       }
       &--para {
           font-size: 3.5rem;
           position: relative;
           @media only screen and (max-width:$bp-medium) {
            font-size: 3rem;
          }
     
       }

       &--span {
           font-size: 1.9rem;
           position: absolute;
           top: .5rem;
           left: -1rem;
       }
       &--ul {
           text-decoration: none;
           list-style: none;
           text-align: center;
           transform: translateX(-9%);
           font-size: 1.8rem;
           
           &-li {
               margin-bottom: .5rem;
           }
        
       }
       &--btn {
        font-size: 2rem;
        text-decoration: none;
        color: $color-white;
        background: $color-primary;
        display: inline-block;
        padding: .8rem 1.4rem;
        border: 2px solid $color-primary;
        border-radius: 2rem;
        margin-top: 2rem;
      

        &:hover {
            text-decoration: none;
            color: $color-primary !important;
        }
        
       }
    }

    &__card--1 {
       margin-right: -5rem;

       @media only screen and (max-width:$bp-medium) {
        margin-right: -3rem;
      }
       @media only screen and (max-width:$bp-small) {
        margin: 2rem 0;
      }

       &:hover {
           z-index: 20;
       }
       
    }
    &__card--3 {
       margin-left: -5rem;
       @media only screen and (max-width:$bp-medium) {
        margin-left: -3rem;
      }
      @media only screen and (max-width:$bp-small) {
        margin:2rem 0;
      }
       &:hover {
        z-index: 20;
    }
    }
    &__card--2{
       margin-top: -4rem;
       z-index: 10;
       @media only screen and (max-width:$bp-small) {
        margin: 2rem 0;
      }

    }

}