#work {
    padding: 8rem 0;
    margin-top: 5rem;
}

.work {
    display: grid;
    grid-template-rows: 15rem max-content;
    grid-template-columns: repeat(12, 1fr);
    background:linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("/assets/img/karte/karte.png")center/cover fixed no-repeat;
    

    &__title {
        grid-row: 1 / 2;
        grid-column: 2 / 12;
        text-align: center;

        &--h1 {
            padding-top: 3rem;  
            font-size: 3.7rem;
            font-weight: 600;
            text-align: center;
            text-transform: capitalize;
            color:$color-white;
            @media only screen and (max-width:$bp-small) {
                font-size: 3.2rem;
             }
         
        }
    }
    &__cards {
        grid-row: 2 / -1;
        grid-column: 1 / -1;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

    }

    &__card {
        background-color: $color-white;
        padding: 5rem 3rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        transition: all .4s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 3rem 3rem;
        text-align: center;
        height: 45rem;
        width: 30rem;

        @media only screen and (max-width:$bp-wide-2) {
            width: 28rem;
            padding: 4rem 2rem;
            height: 40rem;
         }
        @media only screen and (max-width:$bp-wide-3) {
            width: 25rem;
            padding: 2rem 1rem;
            height: 38rem;
            margin:2rem 2rem;
         }
        @media only screen and (max-width:$bp-wide-5) {
            width: 22rem;
            padding: 1rem 1rem;
            height: 35rem;
            margin:1rem 1.2rem;
         }
        @media only screen and (max-width:$bp-medium) {
            width: 30rem;
            padding: 2rem 2rem;
            height: 40rem;
            margin:2rem 2.5rem;
         }

   

        &:hover {
            background-color: $color-primary;
            cursor: pointer;
        }
        &:hover &--icon {
            color: $color-white;
            transform: translateY(-20px);
        }
        &:hover &--h3 {
            color: $color-white;
        }
        &:hover &--p {
            color: $color-white;
        }
        &:hover &--underline {
            background: $color-white;
        }
    
        &--icon {
            font-size: 4.5rem;
            margin:0 0 2rem 0;
            transition: all .4s ease-in-out;

            @media only screen and (max-width:$bp-wide-2) {
                font-size: 4rem;
             }
            @media only screen and (max-width:$bp-wide-3) {
                font-size: 3.7rem;
             }
            @media only screen and (max-width:$bp-medium) {
                font-size: 4rem;
             }
    
        }
        &--h3 {
            font-size: 2.2rem;
            margin: 1rem;
            transition: all .4s ease-in-out;
            @media only screen and (max-width:$bp-wide-2) {
                font-size: 2rem;
             }
            @media only screen and (max-width:$bp-wide-3) {
                font-size: 1.9rem;
             }
            @media only screen and (max-width:$bp-medium) {
                font-size: 2rem;
             }
        }
        &--p {
            font-size: 1.7rem;
            transition: all .4s ease-in-out;
            margin-top: 1.5rem;
            @media only screen and (max-width:$bp-wide-3) {
                font-size: 1.5rem;
             }
            @media only screen and (max-width:$bp-medium) {
                font-size: 1.6rem;
             }

        
        }
    }
}